main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

h1 {
  font-size: 2em;
}

hr {
  width: 600px;
}

li {
  list-style: none;
  padding: 20px;
  margin: 15px;
  border: 1px solid #000;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 30px;
}

.essentials-form-container {
  text-align: center;
  padding: 20px;
}

.essentials-form {
  padding: 20px 0;
}

.delete-button {
  align-self: center;
  /* margin-left: 50px; */
}

.item-input {
  padding: 10px;
  font-size: .9em;
}

.item-input:focus {
  outline: none;
}

input[type='checkbox'] {
  align-self: center;
  margin-right: 100px;
}

.submit-button {
  padding: 10px;
  font-size: .9em;
}
